<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 异步任务表(TSK_ASYN_TASK) -->
<mapper namespace="AsynTaskMapper">
    <!-- 结果映射 -->
    <resultMap id="tskAsynTaskMap" type="org.aaron.asyntask.AsynTaskBean">
        <result column="TASK_ID" property="taskId" jdbcType="VARCHAR" />
        <result column="KEYWORDS" property="keywords" jdbcType="VARCHAR" />
        <result column="TASK_TYPE" property="taskType" jdbcType="VARCHAR" />
        <result column="STATE" property="state" jdbcType="VARCHAR" />
        <result column="PRIORITY" property="priority" jdbcType="DECIMAL" typeHandler="org.aaron.asyntask.TaskPriorityTypeHandler"/>
        <result column="APPLY_TIME" property="applyTime" jdbcType="DATE" />
        <result column="IN_QUEUE_TIME" property="inQueueTime" jdbcType="DATE" />
        <result column="IP" property="ip" jdbcType="VARCHAR" />
        <result column="THREAD_ID" property="threadId" jdbcType="VARCHAR" />
        <result column="START_WORK_TIME" property="startWorkTime" jdbcType="DATE" />
        <result column="END_WORK_TIME" property="endWorkTime" jdbcType="DATE" />
        <result column="ERR_CODE" property="errCode" jdbcType="VARCHAR" />
        <result column="ERR_MSG" property="errMsg" jdbcType="VARCHAR" />
        <result column="DEAL_NUM" property="dealNum" jdbcType="DECIMAL" />
        <result column="TIMEOUT_LIMIT" property="timeoutLimit" jdbcType="DECIMAL" />
        <result column="PLAN_TIME" property="planTime" jdbcType="DATE" />
        <result column="REF_COL1" property="refCol1" jdbcType="VARCHAR" />
        <result column="REF_COL2" property="refCol2" jdbcType="VARCHAR" />
        <result column="REF_COL3" property="refCol3" jdbcType="VARCHAR" />
        <result column="INFO1" property="info1" jdbcType="VARCHAR" />
        <result column="INFO2" property="info2" jdbcType="VARCHAR" />
        <result column="INFO3" property="info3" jdbcType="VARCHAR" />
    </resultMap>

    <!-- 表所有字段 -->
    <sql id="allColumns">
        TASK_ID,
        KEYWORDS,
        TASK_TYPE,
        STATE,
        PRIORITY,
        APPLY_TIME,
        IN_QUEUE_TIME,
        IP,
        THREAD_ID,
        START_WORK_TIME,
        END_WORK_TIME,
        ERR_CODE,
        ERR_MSG,
        DEAL_NUM,
        TIMEOUT_LIMIT,
        PLAN_TIME,
        REF_COL1,
        REF_COL2,
        REF_COL3,
        INFO1,
        INFO2,
        INFO3
    </sql>

    <!-- 插入数据 -->
    <insert id="addAsynTask" parameterType="org.aaron.asyntask.AsynTaskBean">
        INSERT INTO TSK_ASYN_TASK (
        TASK_ID,
        KEYWORDS,
        TASK_TYPE,
        STATE,
        PRIORITY,
        APPLY_TIME,
        <if test="inQueueTime != null and inQueueTime != ''">
          IN_QUEUE_TIME,
        </if>
        <if test="ip != null and ip != ''">
            IP,
        </if>
        <if test="ip != null and ip != ''">
            IP,
        </if>
        <if test="planTime != null and planTime != ''">
            PLAN_TIME,
        </if>
        DEAL_NUM,
        TIMEOUT_LIMIT,
        REF_COL1,
        REF_COL2,
        REF_COL3,
        INFO1,
        INFO2,
        INFO3
        )
        VALUES (
        #{taskId,jdbcType=VARCHAR},
        #{keywords,jdbcType=VARCHAR},
        #{taskType,jdbcType=VARCHAR},
        #{state,jdbcType=VARCHAR},
        #{priority,jdbcType=DECIMAL},
        systimestamp,
        <if test="inQueueTime != null and inQueueTime != ''">
            #{inQueueTime,jdbcType=DATE},
        </if>
        <if test="ip != null and ip != ''">
            #{ip,jdbcType=VARCHAR},
        </if>
        <if test="planTime != null and planTime != ''">
            #{planTime,jdbcType=DATE},
        </if>
        #{dealNum,jdbcType=INTEGER},
        #{timeoutLimit,jdbcType=INTEGER},
        #{refCol1,jdbcType=VARCHAR},
        #{refCol2,jdbcType=VARCHAR},
        #{refCol3,jdbcType=VARCHAR},
        #{info1,jdbcType=VARCHAR},
        #{info2,jdbcType=VARCHAR},
        #{info3,jdbcType=VARCHAR}
        )
    </insert>

    <!-- IP抢任务 -->
    <select id="updateStateBeforeGetTask" parameterType="map">
        UPDATE TSK_ASYN_TASK
          SET ip = #{ip,jdbcType=VARCHAR}
        WHERE state = '0'
        and ip is null
        and task_type = #{taskType,jdbcType=VARCHAR}
        and (plan_time is null or sysdate &gt; plan_time)
        and ROWNUM &lt;= #{getTaskNum,jdbcType=DECIMAL}
    </select>

    <!-- IP抢任务 -->
    <select id="updateTaskStateToPedding" parameterType="org.aaron.asyntask.AsynTaskBean">
        UPDATE TSK_ASYN_TASK t
        SET ip = '',
            t.state = '0',
            t.in_queue_time =''
        WHERE t.state = '1'
        and t.task_id = #{taskId,jdbcType=VARCHAR}
    </select>

    
</mapper>